<div id="back"><a href="<% settings.rootdir %>/">Home</a></div>
<h1>Category <% name %></h1>
<div class="three">
    <ul>
<% FOREACH c IN category %>
    <li><a href="<% settings.rootdir %><% c.url | url %>"><% c.name | html %></a>
<% END %>
    </ul>
</div>
